<div>
    <h2>String Interpolation</h2>
    <h4>{{name}}</h4>
    <h4>{{num}}</h4>
    <h4>{{value}}</h4>
    <h4>undefined :{{a}}</h4>
    <h4>{{array}}</h4>
    <h4>Name : {{object.name}}</h4>
    <h4>Age : {{object.age}}</h4>
    <h4>balance : {{balance}}</h4>
    <h4>user: {{user}}</h4>
    <h4>person : {{object|json}}</h4>
    <h4>date : {{dob|date}}</h4>
    <span>date : {{dob|date:'yyyy-MM-dd'}}</span>
    <h4>date : {{dob|date:'dd-MM-yyyy'}}</h4>
    <h4>date : {{dob|date:'fullDate'}}</h4>
    <h4>date : {{dob|date:'full'}}</h4>
    <h4>date : {{dob|date:'short'}}</h4>
</div>
