<label>ID</label><input class="form-control" type="text"><br>
<label>Account name</label><input  class="form-control"  type="text"><br>
<label>acc.num</label><input  class="form-control"  type="text"><br>
<label>Available balance</label><input  class="form-control" type="text"><br>
<label>Currency</label><input  class="form-control"  type="text"><br>
<label>img</label><input type="file" class="form-control" placeholder="Image" name="userImage" id="userImage">
<button type="submit" class="btn btn-primary mt-3">Submit</button>
