
<div class="container-fluid">
    <div class="container">
        <h5>Sign In</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email address" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" required>
            </div>
        <div class="checkbox">
            <input type="checkbox">
            <label>Remember password</label>
        </div>
        <input type="button" class="btn btn-primary btn-block" routerLink="/dashboard" value="SIGN IN">
        <hr>
        <button class="btn btn-danger btn-block"><span>G</span>SIGN IN WITH GOOGLE</button>
        <button class="btn btn-primary btn-block"><span>f</span>SIGN IN WITH FACEBOOK</button>
    </div>
</div>


