
<label>vehicle</label><input class="form-control" type="text"><br>
<label>Manufacturer</label><input  class="form-control"  type="text"><br>
<label>model</label><input  class="form-control"  type="text"><br>
<label>type</label><input  class="form-control" type="text"><br>
<label>fuel</label><input  class="form-control"  type="text"><br>
<label>color</label><input  class="form-control"  type="text"><br>
<label>img</label><input type="file" class="form-control" placeholder="Image" name="userImage" id="userImage">
<label>id</label><input  class="form-control"  type="text"><br>
<button type="submit" class="btn btn-primary mt-3">Submit</button>
