.bottom .card-columns{
    padding-top:45px;
}
.card{
    height:180px;
    background-color: aqua;
    border-radius:8px;
    box-shadow:5px 5px 5px black;
}
.big{
    width:150%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.hide{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

